	body {
	
		background-image:url(bg.png); 
		background-repeat:repeat;
	
	}
	
	#container {
		position:absolute;
		width: 1100px; 
		left:50%; 
		margin-left:-550px; 
		border:1px solid black; 
		background-color:white;
		padding-left:30px;
		font-family: Baskerville,"Baskerville old face","Hoefler Text",Garamond,"Times New Roman",serif;
		height: 1900px;
	}
	
	#controls {
		margin-bottom:40px; 
		-moz-box-shadow: 3px 3px 4px #ccc;
		-webkit-box-shadow: 3px 3px 4px#ccc;
		box-shadow: 3px 3px 4px #ccc;			
		margin-bottom: 30px;
		padding: 10px;
		width: 1020px;		
	    border:1px solid black;
	}
	
	
	#refresh {
		position:relative;
		
	}
	
	
	#edit_grid {
		margin-bottom:50px;
		width:1000px;
		border:1px solid black;
		padding:20px;
		-moz-box-shadow: 3px 3px 4px #ccc;
		-webkit-box-shadow: 3px 3px 4px#ccc;
		box-shadow: 3px 3px 4px #ccc;
	
	}
	
	
	#flash {
		left: 275px;
		position: absolute;
		top: 100px;
		z-index: 10;
	}
	
	.bank_option {
		clear:both; 
		height:26px;
	}
	
	
	.bank_name {
		clear:both; 
		margin-top:0px;
	}
	
	.bank_option_name {
		width:100px; 
		float:left;
		margin:0px;
	
	}
	
	.volume {
		width:80px; 
		float:left; 
	}
	
	.loop_option {
		float: left;
		width: 14px;
		margin-top: 3px;
		margin-left: 7px;
	}
	
	.overplay {
		float: left;
		margin-left: 6px;
		margin-top: 3px;
		width: 14px;
		margin-right:41px;
	}
	
	.bank_option .switches div {
		width:10px;
		height:10px;
		border:1px solid #7FA5C4; 
		position:absolute;
		cursor:pointer; 
	}
	
	.switches {
		position:absolute;
		z-index:200;
		left:322px;
	}
	

	.switch_0, .switch_ {
		background-color:#fff;
	}
	
	.switch_1 {
		background-color:#ddd;
	}
	
	.switch_2 {
		background-color:#999;
	}
	
	.switch_3 {
		background-color:#000;
	}	

	
	#explorer {	
		width:1040px;
		height:400px; 
		margin-bottom:40px;
		-moz-box-shadow: 3px 3px 4px #ccc;
		-webkit-box-shadow: 3px 3px 4px#ccc;
		box-shadow: 3px 3px 4px #ccc;
		position:absolute;
		z-index:2000;	
	}
	
	
	#volume_label {
	    font-size: 13px;
	    left: 173px;
	    position: absolute;
	    top: 210px;
	}
	
	#loop_label {
	    -moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	    font-size: 13px;
	    left: 256px;
	    position: absolute;
	    top: 207px;
	    width: 30px;
	}	
	
	#overplay_label {
	    -moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	    font-size: 13px;
	    left: 233px;
	    position: absolute;
	    top: 207px;
	    width: 30px;
	}	
	
	.ui-slider-handle {
		width:3px !important;
	}	
